@model PharmaCO.ViewModels.OrderItemViewModel
@{
    var index = ViewData["Index"] ?? 0;
}

<tr>
    <td>
        @Html.HiddenFor(m => m.OrderItemId, new { Name = $"Items[{index}].OrderItemId" })
        @Html.HiddenFor(m => m.MedicineId, new { @class = "medicine-id", Name = $"Items[{index}].MedicineId" })
        @Html.TextBoxFor(m => m.MedicineName, new { @class = "form-control medicine-input", Name = $"Items[{index}].MedicineName" })
    </td>
    <td>
        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control qty-input", type = "number", min = "1", Name = $"Items[{index}].Quantity" })
    </td>
    <td>
        @Html.HiddenFor(m => m.UnitPrice, new { Name = $"Items[{index}].UnitPrice" })
        <input type="text" class="form-control unit-price" readonly
               value="@(Model.UnitPrice > 0 ? "৳ " + Model.UnitPrice.ToString("0.00") : "৳ 0.00")" />
    </td>
    <td>
        @Html.HiddenFor(m => m.TotalPrice, new { Name = $"Items[{index}].TotalPrice" })
        <input type="text" class="form-control total-price" readonly
               value="@(Model.TotalPrice > 0 ? "৳ " + Model.TotalPrice.ToString("0.00") : "৳ 0.00")" />
    </td>
    <td>
        <img class="img-preview"
             src="@(string.IsNullOrEmpty(Model.ImagePath)
            ? Url.Content("~/Image/no-image.png")
            : Model.ImagePath)"
             style="max-width:60px; max-height:60px;
            @(string.IsNullOrEmpty(Model.ImagePath)
              ? "display:none;"
              : "display:inline-block;")" />


    </td>


    <td>
        <button type="button" class="btn btn-danger remove-row">Remove</button>
    </td>
</tr>
