@model IEnumerable<PharmaCO.Models.Medicine>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Expiry Date</th>
        <th>Image</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Category</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>@item.ExpiryDate.ToShortDateString()</td>
            <td>
                @if (!string.IsNullOrEmpty(item.ImagePath))
                {
                    <img src="@Url.Content(item.ImagePath)" width="80" height="80" />
                }
            </td>
        </tr>
    }
</table>

